.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.intro {
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 10px;
  background: -webkit-linear-gradient(180deg, rgb(230, 0, 0), rgb(255, 92, 28));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.card {
  width: 25%;
  border: 0.5px rgb(230, 0, 0) solid;
  border-radius: 20px;
  padding: 10px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.profile > img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.buttons > button {
  width: 40%;
  padding: 5px;
  font-size: 13px;
}

.profile {
  height: 50%;
  width: 100%;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(230, 0, 0);
}

.info {
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
}

/* <div class="card">
          <div class="profile">
            <img src="./assets/profile.webp" alt="" />
          </div>
          <div class="name">Mhammad Al Agha</div>
          <div class="info">
            <p>Age: 20</p>
            <p>Location: Lebanon</p>
          </div>
          <div class="buttons">
            <button>Add to Favourites</button>
            <button>Message</button>
          </div>
        </div> */
